# Pymaceuticals, Inc

## Drug Analysis

##### Observed Trend #1:

##### Observed Trend #2:

##### Observed Trend #3:

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [11]:
ct_data_df = pd.read_csv("raw_data/clinicaltrial_data.csv", low_memory=False)
md_data_df = pd.read_csv("raw_data/mouse_drug_data.csv", low_memory=False)
combined_data_df = pd.merge(ct_data_df, md_data_df, how='outer', on='Mouse ID')
combined_data_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0     b128          0           45.000000                 0  Capomulin
1     b128          5           45.651331                 0  Capomulin
2     b128         10           43.270852                 0  Capomulin
3     b128         15           43.784893                 0  Capomulin
4     b128         20           42.731552                 0  Capomulin

#### Tumor Response to Treatment

In [5]:
new_df_grouped = combined_data_df.groupby(["Drug", "Timepoint"])[['Tumor Volume (mm3)']].mean()
new_df_grouped

                     Tumor Volume (mm3)
Drug      Timepoint
Capomulin 0                   45.000000
          5                   44.266086
          10                  43.084291
          15                  42.064317
          20                  40.716325
          25                  39.939528
          30                  38.769339
          35                  37.816839
          40                  36.958001
          45                  36.236114
Ceftamin  0                   45.000000
          5                   46.503051
          10                  48.285125
          15                  50.094055
          20                  52.157049
          25                  54.287674
          30                  56.769517
          35                  58.827548
          40                  61.467895
          45                  64.132421
Infubinol 0                   45.000000
          5                   47.062001
          10                  49.403909
          15                  51.296397
          20                  53.197691
          25                  55.715252
          30                  58.299397
          35                  60.742461
          40                  63.162824
          45                  65.755562
...                                 ...
Ramicane  0                   45.000000
          5                   43.944859
          10                  42.531957
          15                  41.495061
          20                  40.238325
          25                  38.974300
          30                  38.703137
          35                  37.451996
          40                  36.574081
          45                  34.955595
Stelasyn  0                   45.000000
          5                   47.527452
          10                  49.463844
          15                  51.529409
          20                  54.067395
          25                  56.166123
          30                  59.826738
          35                  62.440699
          40                  65.356386
          45                  68.438310
Zoniferol 0                   45.000000
          5                   46.851818
          10                  48.689881
          15                  50.779059
          20                  53.170334
          25                  55.432935
          30                  57.713531
          35                  60.089372
          40                  62.916692
          45                  65.960888

[100 rows x 1 columns]

In [6]:
new_df2 = new_df_grouped.pivot_table(index=["Timepoint"], values=["Tumor Volume (mm3)"], columns=["Drug"])
new_df2.head()

          Tumor Volume (mm3)                                              \
Drug               Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
Timepoint
0                  45.000000  45.000000  45.000000  45.000000  45.000000
5                  44.266086  46.503051  47.062001  47.389175  46.796098
10                 43.084291  48.285125  49.403909  49.582269  48.694210
15                 42.064317  50.094055  51.296397  52.399974  50.933018
20                 40.716325  52.157049  53.197691  54.920935  53.644087


Drug         Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
Timepoint
0          45.000000  45.000000  45.000000  45.000000  45.000000
5          47.125589  47.248967  43.944859  47.527452  46.851818
10         49.423329  49.101541  42.531957  49.463844  48.689881
15         51.359742  51.067318  41.495061  51.529409  50.779059
20         54.364417  53.346737  40.238325  54.067395  53.170334

#### Metastatic Response to Treatment

In [7]:
meta_df_grouped = combined_data_df.groupby(["Drug", "Timepoint"])[['Metastatic Sites']].mean()
meta_df_grouped.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [8]:
meta_df2 = meta_df_grouped.pivot_table(index=["Timepoint"], values=["Metastatic Sites"], columns=["Drug"])
meta_df2.head()

          Metastatic Sites                                                    \
Drug             Capomulin  Ceftamin Infubinol  Ketapril  Naftisol   Placebo
Timepoint
0                 0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
5                 0.160000  0.380952  0.280000  0.304348  0.260870  0.375000
10                0.320000  0.600000  0.666667  0.590909  0.523810  0.833333
15                0.375000  0.789474  0.904762  0.842105  0.857143  1.250000
20                0.652174  1.111111  1.050000  1.210526  1.150000  1.526316


Drug       Propriva  Ramicane  Stelasyn Zoniferol
Timepoint
0          0.000000  0.000000  0.000000  0.000000
5          0.320000  0.120000  0.240000  0.166667
10         0.565217  0.250000  0.478261  0.500000
15         0.764706  0.333333  0.782609  0.809524
20         1.000000  0.347826  0.952381  1.294118

#### Survival Rates

In [17]:
survived_df_grouped = combined_data_df.groupby(["Drug", "Timepoint"])[['Mouse ID']].count()
survived_df_grouped = survive_df_grouped.rename(columns={"Mouse ID":"Mouse Count"})
survived_df_grouped.head()

                     Mouse Count
Drug      Timepoint
Capomulin 0                   25
          5                   25
          10                  25
          15                  24
          20                  23

In [16]:
survived_df2 = survive_df_grouped.pivot_table(index=["Timepoint"], values=["Mouse Count"], columns=["Drug"])
survived_df2.head()

          Mouse Count                                                        \
Drug        Capomulin Ceftamin Infubinol Ketapril Naftisol Placebo Propriva
Timepoint
0                  25       25        25       25       25      25       26
5                  25       21        25       23       23      24       25
10                 25       20        21       22       21      24       23
15                 24       19        21       19       21      20       17
20                 23       18        20       19       20      19       17


Drug      Ramicane Stelasyn Zoniferol
Timepoint
0               25       26        25
5               25       25        24
10              24       23        22
15              24       23        21
20              23       21        17

#### Summary Bar Graph